.site-footer {
  border-top: none;
  padding-top: 10px;
}

.site-header {
  margin-top: 10px;
  border-top: none;
  border-bottom: none;
}

.page-content {
  padding: $spacing-unit / 3 0;
}

.site-title {
  @include relative-font-size(3);
  letter-spacing: 0px;
  float: none;

  &, &:visited {
    color: $grey-color-light;
  }
}

.footer-col-wrapper {
  color: $text-color;
}

.footer-col {
  float: none;
}

.bio {
  margin-top: 20px;
}

a:hover {
  text-decoration: none;
}

.contact-list {
  text-align: center;
}

.performances {
  @extend .wrapper;
  h1,h2 {
    color: $grey_color-light;
    margin-bottom: 2px;
  }
  h1 {
    font-size: 1.4em;
    margin-top: 20px;
  }
  h2 {
    font-size: 1em;
  }
  p {
    margin-bottom: 0;
  }
}
