---
layout: default
---

<div class="home">

  <img class="left" src={{ "assets/img/baron-sitting-at-piano.jpg" }}>

  <div class="bio">
    {{ content }}
  </div>

  <div class="audio-player">
    <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;border-radius:10px;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/ginas-garden-feat-baron-fenwick/1553878207"></iframe>
  </div>

</div>
